<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card photoCover="https://w.forfun.com/fetch/db/db786d21d302826e9474a94fc6d5fc6e.jpeg"
        cardTitle="Novos episódios de naruto são anunciados"
        cardDescription="s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-smal-card photoCover="https://c4.wallpaperflare.com/wallpaper/838/806/561/satoru-gojo-one-piece-hd-wallpaper-preview.jpg" CardTitle="Netflix anuncia série em live-action de One Piece."></app-smal-card>
        <app-smal-card photoCover="https://4kwallpapers.com/images/wallpapers/attack-on-titan-3840x2160-10433.jpg" CardTitle="Foi anunciada a data da nova temporada de Shingeki no Kyojin."></app-smal-card>
        <app-smal-card photoCover="https://pbs.twimg.com/media/EscM8R0VkAMnJzX.jpg" CardTitle="Goku consegue uma nova transformação. Saiba mais"></app-smal-card>
    </div>
</div>

